<div class="container">
    <div class="row parent">
        <div class="col-md-6  align-items-sm-center align-items-lg-left align-items-md-center">
            <div class="row mt-5 mx-md-5">
                <div class="h-100 p-3">
                    <p>More</p>
                    <p class="mt-5">About Us</p>
                </div>
            </div>
            <div class="row h-25 mt-md-5 mb-4 mx-md-5">
                <button class="btn btn-outline-light mb-5 h-50 explore" routerLink="/home">Explore Solutions</button>
            </div>
        </div>
        <div class="col-md-6 p-0 d-sm-none d-lg-block d-md-block h-100">
            <img class="img-fluid main w-100" src="../../../assets/images/about/baner.jpg" alt="">
        </div>
    </div>
    <div class="row d-flex justify-content-center mt-5 ">
        <div class="col-2 col-md-2 col-lg-2 pic">
            <div class="row d-flex text-center">
                <h6>
                    10+ Years Experience
                </h6>
                <p class="small text-muted">In Solar Energy Solutions</p>
            </div>
        </div>
        <div class="col-2 col-md-2 col-lg-2 pic ">
            <div class="row text-center">
                <h6>
                    Solar Installation
                </h6>
                <p class="small text-muted">Professional Setup</p>
            </div>
        </div>
        <div class="col-2 col-md-2 col-lg-2 pic">
            <div class="row text-center">
                <h6>
                    Energy Audits
                </h6>
                <p class="small text-muted">Efficiency Analysis</p>
            </div>
        </div>
        <div class="col-2 col-md-2 col-lg-2 pic">
            <div class="row text-center">
                <h6>
                    24/7 Support
                </h6>
                <p class="small text-muted">Always Available</p>
            </div>
        </div>
        <div class="col-2 col-md-2 col-lg-2 pic">
            <div class="row text-center">
                <h6>
                    20 Years Warranty
                </h6>
                <p class="small text-muted">On All Systems</p>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-6 d-flex flex-column justify-content-center second">
            <div class="row text-center align-items-center">
                <h4>
                    Lightstorm Technologies - Powering Nigeria's Future!
                </h4>
            </div>
            <div class="row text-center align-items-center ">
                <p>Founded in May 2020, Lightstorm Technologies is a leading solar energy company in Nigeria, dedicated to providing sustainable and affordable energy solutions. We specialize in solar panel installation, energy audits, inverter systems, and comprehensive maintenance services. Our mission is to energize society through reliable, eco-friendly energy solutions that reduce electricity costs and environmental impact. With over a decade of combined experience, our team delivers cutting-edge solar technology tailored to residential, commercial, and industrial needs.</p>
                <p class="mt-3"><strong>Profile Updated:</strong> January 2026</p>
            </div>
        </div>
        <div class="col-md-6 p-0">
            <img class="img-fluid" src="../../../../../../Middlewares/uploads/WhatsApp Image 2026-01-12 at 4.09.50 PM.jpeg" alt="Solar Installation">
        </div>
    </div>
    <div class="row mt-5 mb-5">
        <div class="col-md-12">
            <h3 class="text-center mb-4">Our Solar Solutions</h3>
            <div class="row justify-content-center">
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img class="card-img-top" src="../../../../../../Middlewares/uploads/download.jpg" alt="Solar Product">
                        <div class="card-body">
                            <h5 class="card-title">Solar Panel Systems</h5>
                            <p class="card-text">High-efficiency solar panels for residential and commercial use.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img class="card-img-top" src="../../../../../../Middlewares/uploads/Screenshot (260).png" alt="Inverter System">
                        <div class="card-body">
                            <h5 class="card-title">Inverter Solutions</h5>
                            <p class="card-text">Advanced inverter systems for optimal energy conversion.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5 team">
        <div class="row ">
            <div class="col-md-12 p-4">
                <div class="row justify-content-center py-2">
                    <h2 class="col-md-4 text-center w-100">Meet Our Team &hearts;</h2>
                </div>
                <div class="row justify-content-between">
                    <div class="col-md-4 mb-5 mt-3">
                        <figure class="text-center">
                            <img class="img-fluid us" src="../../../assets/images/about/ahmed.jpg"
                                alt="Testimonial Image 1">
                        </figure>
                        <a href="https://www.linkedin.com/in/ahmed-kamal-4867aa240/" target="_blank" class="nav-link">
                            <h4>Ahmed Kamal</h4>
                        </a>
                    </div>
                    <div class="col-md-4 mt-3">
                        <figure class="text-center">
                            <img class="img-fluid us" src="../../../assets/images/about/8arabawy.png"
                                alt="Testimonial Image 2">
                        </figure>
                        <a href="https://www.linkedin.com/in/mohamed-algharabawy-ab010a205/" target="_blank"
                            class="nav-link">
                            <h4>Mohamed AlGharabawy</h4>
                        </a>
                    </div>
                    <div class="col-md-4 mt-3">
                        <figure class="text-center">
                            <img class="img-fluid us" src="../../../assets/images/about/mansour.png"
                                alt="Testimonial Image 3">
                        </figure>
                        <a href="https://www.linkedin.com/in/ahmed-mansour-10257/" target="_blank" class="nav-link">
                            <h4>Ahmed Mansour</h4>
                        </a>
                    </div>
                    <div class="col-md-4 mt-3">
                        <figure class="text-center">
                            <img class="img-fluid us" src="../../../assets/images/about/nourhan.png"
                                alt="Testimonial Image 1">
                        </figure>
                        <a href="https://www.linkedin.com/in/nourhan-radwan-083516287/?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
                            target="_blank" class="nav-link">
                            <h4>Nourhan Radwan</h4>
                        </a>
                    </div>
                    <div class="col-md-4 mt-3">
                        <figure class="text-center">
                            <img class="img-fluid us" src="../../../assets/images/about/nada.png"
                                alt="Testimonial Image 2">
                        </figure>
                        <a href="https://www.linkedin.com/in/nada-rabea-03048b1b3/" target="_blank" class="nav-link">
                            <h4>Nada Rabea</h4>
                        </a>
                    </div>
                    <div class="col-md-4 mt-3">
                        <figure class="text-center">
                            <img class="img-fluid us" src="../../../assets/images/about/zinab.png"
                                alt="Testimonial Image 3">
                        </figure>
                        <a href="https://www.linkedin.com/in/zeinab-abdelghaffar/?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
                            target="_blank" class="nav-link">
                            <h4>Zeinab Abd Alghafar</h4>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>