<div class="flex flex-col sm:flex-row lg:flex-row items-center lg:items-center gap-2 sm:gap-4 px-2 mb-2 sm:mb-8 lg:mb-8">
  <div class="relative">
    <img 
      [src]="userInfo && userInfo.image ? userInfo.image : 'https://res.cloudinary.com/dh7osyxvl/image/upload/v1714489565/Users/pngwing.com_10_lnfy4w.png'" 
      alt="User" 
      class="w-12 h-12 sm:w-16 sm:h-16 lg:w-12 lg:h-12 rounded-full object-cover"
    >
    <div class="absolute bottom-0 right-0 w-3 h-3 bg-secondary-fixed border-2 border-surface rounded-full"></div>
  </div>
  <div class="text-center sm:text-left lg:text-left">
    @if (userInfo) {
      <div class="text-sm font-bold text-on-surface">{{userInfo.username}}</div>
    }
    <div class="text-[10px] uppercase tracking-[0.2em] text-on-surface-variant font-bold hidden sm:block lg:block">Premium Member</div>
  </div>
</div>
